::-webkit-scrollbar {
    width: 8px;
    background-color: gainsboro;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(38,172,241,1) 0%, rgba(234,242,31,1) 51%, rgba(255,179,0,1) 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

/* Splash screen*/
.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: gold;
    transition: 1s;
    z-index: 1000;
}

.logo_header {
    position: absolute;
    font-size: 3rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #06619e;
}

.logo_slide {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    
}

.logo_slide.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo_slide.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* Main screen*/
.main_menu {
    background: #ffffff;
    width: 179px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 750;
}

.main_logo {
    width: 100%;
}

.list_nav {
    margin: 0px;
    padding: 15px 0px 0px;
}

.list_nav li a {
    text-transform: uppercase;
    margin-left: 18px;
    line-height: normal;
    display: inline-block;
    width: 85%;
    cursor: pointer;
}

.list_nav .top_list_nav li a {
    color: rgb(137, 137, 137);
    padding: 10px 0px;
    font-size: 1.2rem;
}

.list_nav .bottom_list_nav li a {
    color: rgb(137, 137, 137);
    padding: 5px 10px;
    font-weight: bolder;
}

.icon-active {
    position: relative;
}

.icon-active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/icon-active-menu.png) no-repeat;
    width: 9px;
    height: 19px;
    z-index: 751;
}

/*Search taskbar */
.search_taskbar {
    background: url(../images/bg-top-nav.png) repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 42px;
    z-index: 500;
    padding-left: 179px;
    transition: all 0.2s linear 0s;
}

.search_main label {
    color: rgb(255, 255, 255);
    padding: 10px 5px 0px 20px;
    float: left;
    font-size: 1rem;
}

.search_main .search_field {
    float: left;
    width: 185px;
    height: 25px;
    background: rgb(40, 40, 40);
    overflow: hidden;
    border-radius: 25px;
    margin-top: 7px;
}

.search_main .search_field input {
    width: 160px;
    height: 20px;
    background: rgb(40, 40, 40);
    color: rgb(133, 133, 133);
    border: none;
    padding: 5px 10px 0px;
    float: left;
    outline: none;
}

.search_main .search_field .icon-search {
    width: 15px;
    height: 15px;
    background: url(../images/icon-search.png) 0px 0px no-repeat;
    display: block;
    float: right;
    margin: 5px;
}

.top-tools {
    float: right;
    margin: 0px 20px 0px 0px;
    position: relative;
}

.support-info {
    display: inline-block;
    padding: 0px 16px;
    height: 42px;
    line-height: 42px;
    vertical-align: top;
}

.support-info .icon {
    display: inline-block;
    margin: 0px 6px 0px 0px;
    vertical-align: middle;
}

.icon.icon-info {
    background: url(../images/icon-info.png) no-repeat;
    width: 15px;
    height: 15px;
}

.support-info .text {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-family: effrabold, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

/*slide_show*/
.slide_show {
    padding-left: 179px;
    padding-top: 42px;
    position: fixed;
}

.slide_show_bg-img {
    opacity: 0;
    position: absolute;
}

.slide_show_bg {
    height: 100vh;
    width: 88%;
    position: absolute;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.grid {
    display: block;
    width: 98%;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.l-6 {
    flex: 0 0 50%;
    width: 50%;
}

.slide_infor,
.slide_number {
    padding: 6.4rem;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 12;
}

.headline {
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    text-shadow: 0 0 5px #a8a8a8;
    font-size: 42px;
}

.see_more-btn {
    background: url(../images/bg-home-slider-link-1.jpg) no-repeat;
    width: 158px;
    background-size: 100%;
    color: #fff;
    float: left;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

.slide_infor-name-wrapper {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.slide_number-list {
    display: flex;
    align-items: flex-end;
    padding-top: 350px;
}

.slide_direct {
    text-decoration: none;
    font-size: 2.8rem;
    color: #ccc;
    margin: 0 0.6rem;
}

.slide_number-link {
    text-decoration: none;
    font-size: 2.8rem;
    color: #ffffff;
    padding: 0 0.3rem;
    display: flex;
    justify-content: center;
    width: 7rem;
}

.slide-active {
    font-size: 3.8rem;
    color: #ff3f00;
    transition: 0.4s;
}