* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

/* Splash screen*/
.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
    z-index: 1000;
}

.logo_header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logo_slide {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo_slide.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo_slide.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* Main screen*/
.main_menu {
    background: #ffffff;
    width: 179px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 750;
}

.main_logo {
    width: 100%;
}

.search_taskbar {
    background: url(../images/bg-top-nav.png) repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 42px;
    z-index: 500;
    padding-left: 179px;
    transition: all 0.2s linear 0s;
}

.list_nav {
    margin: 0px;
    padding: 15px 0px 0px;
}

.list_nav li a {
    text-transform: uppercase;
    margin-left: 18px;
    line-height: normal;
    display: inline-block;
    width: 85%;
    cursor: pointer;
}

.list_nav .top_list_nav li a {
    font-family: effraregular, Arial, Helvetica, sans-serif;
    color: rgb(137, 137, 137);
    padding: 10px 0px;
    font-size: 1.2rem;
}

.search_main label {
    color: rgb(255, 255, 255);
    padding: 10px 5px 0px 20px;
    float: left;
    font-size: 1rem;
}

.search_main .search_field {
    float: left;
    width: 185px;
    height: 25px;
    background: rgb(40, 40, 40);
    overflow: hidden;
    border-radius: 25px;
    margin-top: 7px;
}

.search_main .search_field input {
    width: 160px;
    height: 20px;
    background: rgb(40, 40, 40);
    color: rgb(133, 133, 133);
    border: none;
    padding: 5px 10px 0px;
    float: left;
}

.search_main .search_field .icon-search {
    width: 15px;
    height: 15px;
    background: url(../images/icon-search.png) 0px 0px no-repeat;
    display: block;
    float: right;
    margin: 5px;
}

.top-tools {
    float: right;
    margin: 0px 20px 0px 0px;
    position: relative;
}

.support-info {
    display: inline-block;
    padding: 0px 16px;
    height: 42px;
    line-height: 42px;
    vertical-align: top;
}

.support-info .icon {
    display: inline-block;
    margin: 0px 6px 0px 0px;
    vertical-align: middle;
}

.icon.icon-info {
    background: url(../images/icon-info.png) no-repeat;
    width: 15px;
    height: 15px;
}

.support-info .text {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-family: effrabold, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}