* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}

.list_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    background-color: rgb(225, 238, 49);
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

/*header*/
.sticky-top {
    position: sticky;
    z-index: 1000;
    top: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col-3 {
    flex: 0 0 22%;
    max-width: 22%;
}

.col-9 {
    flex: 0 0 78%;
    max-width: 78%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.grid {
    width: 1200px;
    margin: 0 auto;
}

    /* menu_1*/
ul.list_item>li>a {
    color: black;
    font-size: 20px;
}

.menu ul li {
    margin-left: 40px;
    list-style: none;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

ul.list_item>li>a {
    display: block;
    text-align: center;
    position: relative;
}

ul.list_item>li>a:hover {
    color: rgb(16, 63, 172);
    transition: all 0.3s ease;
}

.sub:hover .menu_big {
    display: block !important;
}
.sub {
    position: relative;
}
.sub::after {
    content: "";
    height: 12px;
    width: 120%;
    position: absolute;
    background-color: transparent;
}
ul.menu_child {
    position: absolute;
    list-style-type: none;
    margin-top: 12px;
    border-radius: 10px;
    overflow: hidden;
}
ul.menu_child li {
    display: block;
    text-decoration: none;
    background-color: #0851bd;
    padding: 14px 14px;
    border-bottom: 1px solid gray;
    width: 160%;
    margin: 0;
    position: sticky;
    z-index: 10000;

}
ul.menu_child>li>a {
    color: white;
    font-size: 16px;
    margin-right: 150px;
}
ul.menu_child>li>a:hover {
    color: rgb(225, 238, 49);
}
.menu_big {
    display: none;
}
div.menu_big::after {
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #0851bd transparent;
    display: block;
    bottom: -12px;
    left: 40px;
    position: absolute;
}

  /*sign_up*/
.open_banking {
    font-weight: 500;
    position: relative;
    
}
.open_banking:hover a::before {
    width: 100%;
    transition: all 1s ease-in-out;
}
.open_banking a::before {
    content:"";
    position: absolute;
    background-color: #06619e;
    bottom: -6px;
    height: 3px;
    box-sizing: border-box;
    width: 0%;
}

    /*header_2*/
.head2 {
    background-image: linear-gradient(#0a5e98, #0771b9);
}

.head2__bottom {
    display: flex;
    align-items: center;
    color: white;
}
.head2__bottom .header__hotline .fa-solid {
    display: inline-block;
    width:30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    vertical-align: center;
    border: 2px solid white;
    border-radius: 50%;
}
.number_phone {
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}

/* menu2 */
.menu__list-item:hover .menu_child_2 {
    display: block !important;
}

.menu__list-item {
    position: relative;
}

.menu__list {
    margin: 0 32px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color: black;
    align-items: center;
}

.menu__list-item-link {
    color: white;
    border-left: 1px solid #06619e;
    display: block;
    text-decoration: none;
    padding: 12px 20px;
}

.menu__list-item-link:hover {
    color: rgb(237, 240, 58);
}

.menu__list:last-child {
    border-right: 1px solid #06619e;
}

ul.menu_child_2 {
    display: none;
    position: absolute;
    overflow: hidden;
}

ul.menu_child_2>li {
    display: block;
    background-color: #0851bd;
    padding: 14px 14px;
    border-bottom: 1px solid gray;
    width: 160%;
    margin: 0;
}

ul.menu_child_2>li>a {
    color: white;
    font-size: 16px;
    margin-right: 150px;
}

ul.menu_child_2>li>a:hover {
    color: rgb(237, 240, 58);
}


.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;
    height: 500px;
}

/* Slideshow container */
.slideshow-container {

    position: relative;
    margin-top: 10px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}
 /* titles */
.request {
    margin: auto;
    padding: 32px;
    font-size: 50px;
    font-weight: bold;
    color: #06619e;
    text-align: center;
    border-top: 1px solid #06619e;
    padding-bottom: 28px;
}
  /* the counter card*/
.column {
    width: 20%;
    padding: 54px 14px;
}
.row_body {
    margin: 0 -5px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
}
.card > a > p {
    font-size: 18px;
    font-weight: bold;
    color: #06619e;
}
.card>a > i {
    font-size: 80px;
    padding: 18px;
    color: rgb(184, 184, 29);
    
}
.card:hover {
    background-color: yellow;
}
  /*img_list*/
.main_img {
    align-items: center;
    width: 60%;
    margin: auto;
    padding-bottom: 30px;
}
.img_container {
    width: 25%;
    margin: 10px;
}
.row_img {
    display: flex;
}
.col_img {
    overflow: hidden;
    margin: 0 5px;
}

.img_container {
    display: inline-block;
    padding: 0px;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .2) 80%, transparent);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .8s ease;
}

.img_container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text-of-img {
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 0;	
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
} 

   /*img and News*/
.main_news {
    align-items: center;
    width: 80%;
    margin: auto;
}

.row_img_news {
    display: flex;
}

.img_news {
    width: 25%;
    margin: 16px;
}
.col_img_news {
    overflow: hidden;
}
.img_news a .col_img_news img {
    transform: scale(1);
    transition: all 1s ease-in;
}

.img_news .col_img_news:hover img {
    transform: scale(1.5);
}
.text_news {
    overflow-wrap: anywhere;
    margin: 2px 0;
    font-style: italic;
    color: rgb(185, 21, 21);
}
.text_news_2 {
    overflow-wrap: anywhere;
}

/* arrow right */
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.main_footer .row_footer .col_footer ul li i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-right: 6px;
}

        /*footer*/
.main_footer {
    width: 80%;
    margin: auto;
}
.footer_1 {
    background-color: #0771b9;
    padding: 50px 0;
}
.row_footer {
    display: flex;
    flex-wrap: wrap;
}
.main_footer .row_footer .col_footer > ul {
    list-style: none;
}
.col_footer {
    width: 25%;
    padding: 0 10px;
}
.col_footer h4 {
    font-size: 20px;
    color: rgb(225, 238, 49);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.col_footer h4::before {
    content:"";
    position: absolute;
    background-color: black;
    left: 1px;
    bottom: -8px;
    height: 3px;
    box-sizing: border-box;
    width: 60px; 
}
.col_footer ul li:not(:last-child) {
    margin-bottom: 10px;
}
.col_footer ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    display: block;
    transition: all 0.3s ease;
}
.col_footer ul li a:hover {
    padding-left: 8px;
}

/*footer_2*/
.footer_2 {
    background-color: rgb(225, 238, 49);
    padding: 50px 0;
}
.main_footer_2 {
    width: 80%;
    margin: auto;
}
.row_footer_2 {
    display: flex;
    flex-wrap: wrap;
}
.col25_footer_2 {
    width: 25%;
    padding: 0 10px;
}
.col50_footer_2 {
    width: 50%;
    padding: 0 10px;
}
.col25_footer_2 h4,.col50_footer_2 h4 {
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}
.col50_footer_2 p {
    font-size: 14px;
}
.col25_footer_2 h4::before, .col50_footer_2 h4::before {
    content:"";
    position: absolute;
    background-color: black;
    left: 1px;
    bottom: -6px;
    height: 3px;
    box-sizing: border-box;
    width: 80px; 
}
.col25_footer_2 .social_link a {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #06619e;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}
.col25_footer_2 .social_link a:hover {
    color: #06619e;
    background-color: white;
}

 /* copyright */
.copyright {
    background-color: rgb(225, 238, 49);
    padding: 10px 0;
}
.main_copyright {
    width: 80%;
    margin: auto;
}
.row_copyright {
    border-top: 1px solid rgb(186, 196, 39);
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.col25_copyright {
    width: 25%;
    padding: 0 10px;
}
.col75_copyright {
    width: 75%;
    padding: 0 10px;
}
.row_copyright p {
    font-size: 14px;
    color: black;
}
.col25_copyright p:hover {
    text-decoration: underline;
    color: #06619e;
}