* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}

/*header*/
.sticky-top {
    position: sticky;
    z-index: 1;
    top: 0;
}
.container {
    background: linear-gradient(90deg, rgba(241,238,33,1) 0%, rgba(255,253,43,1) 52%, rgba(223,223,15,1) 100%, rgba(222,242,45,1) 100%);
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    flex: 0 0 23%;
    max-width: 26%;
}

.col-9 {
    flex: 0 0 70%;
    max-width: 74%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.grid {
    width: 1200px;
    margin: 0 auto;
}

    /* menu_1*/
.list_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    
ul.list_item>li>a {
    color: black;
    font-size: 20px;
}

.menu ul li {
    margin-left: 40px;
    list-style: none;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

ul.list_item>li>a {
    display: block;
    text-align: center;
    position: relative;
}

ul.list_item>li>a:hover {
    color: rgb(16, 63, 172);
    transition: all 0.3s ease;
}

.sub:hover .menu_big {
    display: block !important;
}
.sub {
    position: relative;
}
.sub::after {
    content: "";
    height: 12px;
    width: 120%;
    position: absolute;
    background-color: transparent;
}
ul.menu_child {
    position: absolute;
    list-style-type: none;
    margin-top: 12px;
    border-radius: 10px;
    overflow: hidden;
}
ul.menu_child li {
    display: block;
    text-decoration: none;
    background-color: #0771b9;
    padding: 14px 14px;
    border-bottom: 1px solid #71afd5;
    width: 160%;
    margin: 0;
    position: sticky;
    z-index: 10;

}
ul.menu_child>li>a {
    color: white;
    font-size: 16px;
    margin-right: 150px;
}
ul.menu_child>li>a:hover {
    color: rgb(240, 255, 30);
}
.menu_big {
    display: none;
}
div.menu_big::after {  /*add after to hover*/
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #0771b9 transparent;
    display: block;
    bottom: -12px;
    left: 40px;
    position: absolute;
}

  /*sign_up*/
.open_banking {
    font-weight: 500;
    position: relative;
    
}
.open_banking::before {
    content:"";
    position: absolute;
    background-color: #06619e;
    top: 22px;
    left: 0;
    height: 5px;
    width: 100%;
    transform: scaleX(0);
    border-radius: 4px;
}
.open_banking:hover::before {
    transform: scaleX(1);
    transition: linear 0.5s;
}

    /*header_2*/
.head2 {
    background-image: linear-gradient(#0a5e98, #0771b9);
}

.head2__bottom {
    display: flex;
    align-items: center;
    color: white;
}
.head2__bottom .header__hotline .fa-solid {
    display: inline-block;
    width:30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    vertical-align: center;
    border: 2px solid white;
    border-radius: 50%;
}
.number_phone {
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}

/* menu2 */
.menu__list-item:hover .menu_child_2 {
    display: block !important;
}

.menu__list-item {
    position: relative;
}

.menu__list {
    margin: 0 32px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color: black;
    align-items: center;
}

.menu__list-item-link {
    color: white;
    border-left: 1px solid #06619e;
    display: block;
    text-decoration: none;
    padding: 12px 20px;
}

.menu__list-item-link:hover {
    color: rgb(251, 255, 27);
}

.menu__list:last-child {
    border-right: 1px solid #06619e;
}

ul.menu_child_2 {
    display: none;
    position: absolute;
    overflow: hidden;
}

ul.menu_child_2>li {
    display: block;
    background-color: #0771b9;
    padding: 14px 14px;
    border-bottom: 1px solid #71afd5;
    width: 160%;
    margin: 0;
}

ul.menu_child_2>li>a {
    color: white;
    font-size: 16px;
    margin-right: 150px;
}

ul.menu_child_2>li>a:hover {
    color: rgb(237, 240, 58);
}

 /* slide show auto */
.slide {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
}
.slide_show {
    width: 400%;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s;
}
.slide_show img {
    width: 25%;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

 /* titles */
.request {
    margin: auto;
    padding: 32px;
    font-size: 50px;
    font-weight: bold;
    color: #06619e;
    text-align: center;
    border-top: 1px solid #06619e;
    padding-bottom: 28px;
}
  /* the counter card*/
.main_card {
    align-items: center;
    margin: auto;
    width: 80%;
}

.row_card {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0px;
}
.border_card {
    padding: 0px 10px;
    width: 20%;
    position: relative;
}


/* Style the counter cards */
.cards {
    border-radius: 4px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background: #cad1d3;
    padding: 10px;
}
.cards .text-of-cards {
    content: "";
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #06619e;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}
.cards i {
    width: 100%;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 56px;
    color: #0771b9;
    text-align: center;
    align-items: center;
}
.cards:hover {
    background-color: yellow;
}
  /*img_list*/
.main_img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}
.img_container{
    width: 240px;
    margin: 10px;
}
.row_img {
    display: flex;
}
.col_img {
    overflow: hidden;
    padding: 0 4px;
}

.img_container {
    display: inline-block;
    position: relative;
}

.overlay{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .2) 80%, transparent);
    overflow: hidden;
    height:0;
    transition: .8s ease;
}

.img_container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text-of-img {
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    bottom: 0;	
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: anywhere;
} 
.text-new {
    text-align: center;
    color: #06619e;
    font-weight: bold;
    display: none;
}
   /*img and News*/
.main_news {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.img_news {
    height: 290px;
    width: 270px;
    margin: 0px 9px 12px;
}
.img_news img {
    height: 160px;
}
.col_img_news {
    overflow: hidden;
    text-align: center;
}
.img_news a .col_img_news img {
    transform: scale(1);
    transition: all .4s ease-in;
}

.img_news .col_img_news:hover img {
    transform: scale(1.2);
}
.text_news {
    overflow-wrap: anywhere;
    margin: 2px 0;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    color: #06619e;
    width: 100%;
}
.text_news_2 {
    overflow-wrap: anywhere;
    color: black;
}
.main_see_more {
    text-align: center;
    padding: 20px;
    
}
   /*see more img_news*/
.see_more {
    padding: 12px 32px;
    font-size: 16px;
    background-color: #0771b9;
    border: none;
    color: white;
    position: relative;
}
.news_see_more {
    display: none;
    animation: bottom-to-top 1s ease-in;
}
.see_more::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: 106%;
    height: 111%;
    border-top: 2px solid #0771b9;
    border-bottom: 2px solid #0771b9;
    transition: linear all 0.3s;
    transform: scaleX(0);
}
.see_more:hover::after {
    transform: scaleX(1);
}
.see_more::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: 103%;
    height: 118%;
    border-left: 2px solid #0771b9;
    border-right: 2px solid #0771b9;
    transition: linear all 0.3s;
    transform: scaleY(0);
}
.see_more:hover::before {
    transform: scaleY(1);
    transition-delay: 0.2s;
}
@keyframes bottom-to-top {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* arrow right */
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.main_footer .row_footer .col_footer ul li i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-right: 6px;
}

        /*footer*/
.main_footer {
    width: 80%;
    margin: auto;
}
.footer_1 {
    background-color: #0771b9;
    padding: 50px 0;
}
.row_footer {
    display: flex;
    flex-wrap: wrap;
}
.col_footer {
    width: 25%;
    padding: 0 10px;
}
.col_footer h4 {
    font-size: 20px;
    color: rgb(225, 238, 49);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.col_footer h4::before {
    content:"";
    position: absolute;
    background-color: black;
    left: 1px;
    bottom: -8px;
    height: 3px;
    box-sizing: border-box;
    width: 60px; 
}
.col_footer ul li:not(:last-child) {
    margin-bottom: 10px;
}
.col_footer ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    display: block;
    transition: all 0.3s ease;
}
.col_footer ul li a:hover {
    padding-left: 8px;
}

/*footer_2*/
.footer_2 {
    background: linear-gradient(90deg, rgba(241,238,33,1) 0%, rgba(255,253,43,1) 52%, rgba(223,223,15,1) 100%, rgba(222,242,45,1) 100%);
    padding: 50px 0;
}
.main_footer_2 {
    width: 80%;
    margin: auto;
}
.row_footer_2 {
    display: flex;
    flex-wrap: wrap;
}
.col25_footer_2 {
    width: 25%;
    padding: 0 10px;
}
.col50_footer_2 {
    width: 50%;
    padding: 0 10px;
}
.col25_footer_2 h4,.col50_footer_2 h4 {
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}
.col50_footer_2 p {
    font-size: 14px;
}
.col25_footer_2 h4::before, .col50_footer_2 h4::before {
    content:"";
    position: absolute;
    background-color: black;
    left: 1px;
    bottom: -6px;
    height: 3px;
    box-sizing: border-box;
    width: 80px; 
}
.col25_footer_2 .social_link a {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #06619e;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}
.col25_footer_2 .social_link a:hover {
    color: #06619e;
    background-color: white;
}

 /* copyright */
.copyright {
    background: linear-gradient(90deg, rgba(241,238,33,1) 0%, rgba(255,253,43,1) 52%, rgba(223,223,15,1) 100%, rgba(222,242,45,1) 100%);
    padding: 10px 0;
}
.main_copyright {
    width: 80%;
    margin: auto;
}
.row_copyright {
    border-top: 1px solid #06619e;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.col25_copyright {
    width: 25%;
    padding: 0 10px;
}
.col75_copyright {
    width: 75%;
    padding: 0 10px;
}
.row_copyright p {
    font-size: 12px;
    color: black;
}
.col25_copyright p:hover {
    text-decoration: underline;
    color: #06619e;
}
marquee {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-style: italic;

}
