* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}
/*header*/
.sticky-top {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header__top {
    background: linear-gradient(90deg, rgba(241,238,33,1) 0%, rgba(255,253,43,1) 52%, rgba(223,223,15,1) 100%, rgba(222,242,45,1) 100%);
    padding: 10px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.row {
    display: flex;
    align-items: center;
}
.logo img {
    width: 70%;
}
#menu-bar {
    display: none;
}
    /* menu_1*/
.list_item {
    display: flex;
    align-items: center;
}
    
ul.list_item>li>a {
    color: black;
    font-size: 20px;
}

.menu ul li {
    margin-left: 40px;
    list-style: none;
}

.menu {
    display: flex;
    width: 80%;
}

ul.list_item>li>a {
    display: block;
    text-align: center;
    position: relative;
}

ul.list_item>li>a:hover {
    color: rgb(16, 63, 172);
    transition: all 0.3s ease;
}

.sub:hover .menu_big {
    display: block !important;
}
.sub {
    position: relative;
}
.sub::after {
    content: "";
    height: 12px;
    width: 120%;
    position: absolute;
    background-color: transparent;
}
ul.menu_child {
    position: absolute;
    list-style-type: none;
    margin-top: 12px;
    border-radius: 10px;
    overflow: hidden;
}
ul.menu_child li {
    display: block;
    text-decoration: none;
    background-color: #0771b9;
    padding: 14px 14px;
    border-bottom: 1px solid #71afd5;
    width: 160%;
    margin: 0;
    position: sticky;
    z-index: 1;

}
ul.menu_child>li>a {
    color: white;
    font-size: 16px;
    margin-right: 150px;
}
ul.menu_child>li>a:hover {
    color: rgb(240, 255, 30);
}
.menu_big {
    display: none;
}
div.menu_big::after {  /*add after to hover*/
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #0771b9 transparent;
    display: block;
    bottom: -12px;
    left: 40px;
    position: absolute;
}

  /*sign_up*/
.open_banking {
    font-weight: 500;
    position: relative;
    
}
.open_banking::before {
    content:"";
    position: absolute;
    background-color: #06619e;
    top: 22px;
    left: 0;
    height: 5px;
    width: 100%;
    transform: scaleX(0);
    border-radius: 4px;
}
.open_banking:hover::before {
    transform: scaleX(1);
    transition: linear 0.5s;
}

    /*header_2*/
.head2 {
    background-image: linear-gradient(#0a5e98, #0771b9);
}
.head2__bottom {
    display: flex;
    align-items: center;
    color: white;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
}
.header__hotline {
    padding-left: 30px;
}
.head2__bottom .header__hotline .fa-solid {
    display: inline-block;
    width:30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    vertical-align: center;
    border: 2px solid white;
    border-radius: 50%;
}
.number_phone {
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}

/* menu2 */
.menu__list-item:hover .menu_child_2 {
    display: block !important;
}

.menu__list-item {
    position: relative;
}

.menu__list {
    margin: 0 32px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color: black;
    align-items: center;
}

.menu__list-item-link {
    color: white;
    border-left: 1px solid #06619e;
    display: block;
    text-decoration: none;
    padding: 12px 20px;
}

.menu__list-item-link:hover {
    color: rgb(251, 255, 27);
}

.menu__list:last-child {
    border-right: 1px solid #06619e;
}

ul.menu_child_2 {
    display: none;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

ul.menu_child_2 li {
    display: block;
    background-color: #0771b9;
    padding: 14px 14px;
    border-bottom: 1px solid #71afd5;
    width: 160%;
    margin: 0;
}

ul.menu_child_2>li>a {
    color: white;
    font-size: 16px;
    margin-right: 150px;
}

ul.menu_child_2>li>a:hover {
    color: rgb(237, 240, 58);
}
 /*header search-form*/
 #search_btn {
    cursor: pointer;
    user-select: none;
 }
 .dropbtn .search_form {
    position: absolute;
    top:115%;
    right: 10%;
    display: flex;
    width: 250px;
    height: 40px;
    background-color: #fff;
    transform: scaleY(0);
    transform-origin: top;
    user-select: none;
}
.dropbtn .search_form.active {
    transform: scaleY(1);
}
.dropbtn .search_form input {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    color: black;
    padding: 1rem;
    text-transform: none;
    border: none;
}
.dropbtn .search_form label {
    cursor: pointer;
    font-size: 1.4rem;
    padding: 10px;
    background-color: #06619e;
}

 /* slide show auto */
.slide {
    margin-top: 4px;
    display: flex;
    position: relative;
}
.slick-arrows {
    position: absolute;
    width: 40px;
    height: 50px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: rgba(0, 0,0,0.6);
    color: #fff;
    top:50%;
    transform: translateY(-50%);
    z-index: 1;
}
.slick-arrows:hover {
    background: rgba(255, 255,255,0.6);
    color: #000;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.slick-dots {
    position: absolute;
    list-style: none;
    display: flex !important;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}
.slick-dots button {
    background-color: rgb(207, 204, 204);
    font-size: 0;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 15px;
    margin: 5px;
    height: 15px;
}
.slick-dots .slick-active button,
.slick-dots button:hover {
    background: #0a5e98;
}
  /*end auto slide*/
 /* support to help */
.help_container {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    display: inline-block;
}
.search_support i{
    font-size: 30px;
    color: gray;
    position: absolute;

}
.search_support input {
    width: 460px;
    border: none;
    font-size: 30px;
    line-height: 28px;
    outline: none;
    position: relative;
    left: 38px;
}
 /* titles */
.request {
    margin: auto;
    width: 100%;
    padding: 32px;
    font-size: 48px;
    font-weight: bold;
    color: #06619e;
    text-align: center;
    border-top: 1px solid #06619e;
    padding-bottom: 28px;
}
  /* the counter card*/
.main_card {
    align-items: center;
    margin: auto;
    width: 90%;
}

.row_card {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px;
}
.border_card {
    padding: 0px 10px;
    width: 15%;
    position: relative;
    margin: 0 auto;
}


/* Style the counter cards */
.cards {
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(9, 9, 9, 0.3);
    text-align: center;
    background: #e3e6e6;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}
.cards .text-of-cards {
    content: "";
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #06619e;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}
.cards i {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 56px;
    color: #0771b9;
    text-align: center;
    align-items: center;
}
.cards:hover {
    background-color: yellow;
    box-shadow: 3px 3px #53a7ea, 4px 4px #53a7ea, 5px 5px #53a7ea;
    transform: translateX(-3px);
}
  /*img_list*/
.main_img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../images/bg_yel.jpg);
    background-size: 100%;
    margin: auto;
    padding: 50px 0;
}
.img_container{
    width: 200px;
    margin: 15px;
}
.text-new {
    text-align: center;
    color: #06619e;
    font-size: 18px;
    font-weight: bold;
    display: none;
}

   /*img and News*/
.main_news {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.img_news {
    height: 300px;
    width: 322px;
    margin: 0px 9px 12px;
}
.img_news img {
    height: 195px;
}
.col_img_news {
    overflow: hidden;
    text-align: center;
}
.img_news a .col_img_news img {
    transform: scale(1);
    transition: all .4s ease-in;
}
.img_news a:hover img {
    transform: scale(1.2);
}
.text_news {
    overflow-wrap: anywhere;
    margin: 2px 0;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    color: #06619e;
    width: 100%;
}
.text_news_2 {
    line-height: 1.5;
    color: black;
    text-align: justify;
}
.main_see_more {
    text-align: center;
    padding: 20px;
    
}
   /*see more img_news*/
.see_more {
    padding: 12px 32px;
    font-size: 16px;
    background-color: #0771b9;
    border: none;
    color: white;
    position: relative;
}
.news_see_more {
    display: none;
    animation: bottom-to-top 1s ease-in;
}
.see_more::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: 106%;
    height: 111%;
    border-top: 2px solid #0771b9;
    border-bottom: 2px solid #0771b9;
    transition: linear all 0.3s;
    transform: scaleX(0);
}
.see_more:hover::after {
    transform: scaleX(1);
}
.see_more::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: 103%;
    height: 118%;
    border-left: 2px solid #0771b9;
    border-right: 2px solid #0771b9;
    transition: linear all 0.3s;
    transform: scaleY(0);
}
.see_more:hover::before {
    transform: scaleY(1);
    transition-delay: 0.2s;
}
@keyframes bottom-to-top {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
 /*sign up email and install */
 .install {
    background-color: #f1f3f2; 
    padding: 4px 0;
}
.install_container {
    width: 80%;
    margin: auto;
}
.row_install {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.col25_sign_install {
    width: 25%;
    margin-top: 3px;
}
.col50_sign_install {
    width: 50%;
}
.col25_sign_install img {
    width: 40%;
    
}
.sign_up_email_text input {
    top: -1px;
    width: 200px;
    padding: 15px 0;
    border-radius: 6px;
    border: 1px solid #cad1d3;
}
.sign_up_button {
    border: none;
    padding: 8px 10px;
    background-color: #06619e;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.sign_up_button a {
    color: white;
}
button.sign_up_button:hover {
    box-shadow: 2px 2px #53a7ea, 3px 3px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
}

/* arrow right */
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.main_footer .row_footer .col_footer ul li i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-right: 6px;
}

        /*footer*/
.main_footer {
    width: 80%;
    margin: auto;
}
.footer_1 {
    background-color: #0771b9;
    padding-top: 50px; 
}
.row_footer {
    display: flex;
    flex-wrap: wrap;
}
.col_footer {
    width: 25%;
    padding: 0 10px;
}
.col_footer h4 {
    font-size: 20px;
    color: rgb(225, 238, 49);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.col_footer h4::before {
    content:"";
    position: absolute;
    background-color: black;
    left: 1px;
    bottom: -8px;
    height: 3px;
    box-sizing: border-box;
    width: 60px; 
}
.col_footer ul li:not(:last-child) {
    margin-bottom: 10px;
}
.col_footer ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    display: block;
    transition: all 0.3s ease;
}
.col_footer ul li a:hover {
    padding-left: 8px;
}

/*footer_2*/
.footer_2 {
    margin-top: 50px;
    background: linear-gradient(90deg, rgba(241,238,33,1) 0%, rgba(255,253,43,1) 52%, rgba(223,223,15,1) 100%, rgba(222,242,45,1) 100%);
    padding: 50px 0;
}
.main_footer_2 {
    width: 80%;
    margin: auto;
}
.row_footer_2 {
    display: flex;
    flex-wrap: wrap;
}
.col25_footer_2 {
    width: 25%;
    padding: 0 10px;
}
.col50_footer_2 {
    width: 50%;
    padding: 0 10px;
    overflow: hidden;
}
.col25_footer_2 h4,.col50_footer_2 h4 {
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}
.col50_footer_2 p {
    font-size: 14px;
}
.col25_footer_2 h4::before, .col50_footer_2 h4::before {
    content:"";
    position: absolute;
    background-color: black;
    left: 1px;
    bottom: -6px;
    height: 3px;
    box-sizing: border-box;
    width: 80px; 
}
.col25_footer_2 .social_link a {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #06619e;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}
.col25_footer_2 .social_link a:hover {
    color: #06619e;
    background-color: white;
}

 /* copyright */
.copyright {
    background: linear-gradient(90deg, rgba(241,238,33,1) 0%, rgba(255,253,43,1) 52%, rgba(223,223,15,1) 100%, rgba(222,242,45,1) 100%);
    padding: 10px 0;
}
.main_copyright {
    width: 80%;
    margin: auto;
}
.row_copyright {
    border-top: 1px solid #06619e;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.col25_copyright {
    width: 25%;
    padding: 0 10px;
}
.col75_copyright {
    width: 75%;
    padding: 0 10px;
}
.row_copyright p {
    font-size: 12px;
    color: black;
}
.col25_copyright p:hover {
    text-decoration: underline;
    color: #06619e;
}
 /* end footer */
marquee {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-style: italic;
}
/*button chat*/
#chat {
    position: fixed;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    bottom: 20px;
    left: 20px;
    width: 100px;
    font-size: 20px;
    padding: 8px ;
    background-color: #06619e;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    outline: none;
}
.fa-facebook-messenger {
    margin-right: 4px;
}
 /*Back to top window*/
#back_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, .2);
    color: black;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: backround-color, color;
}
#back_to_top:hover, #back_to_top:focus {
    background-color: black;
    color: white;
}
.button_entrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: button_entrance;
}
/*fade in up*/
@keyframes button_entrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.button_exit {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: button_exit;
}
/*fade out down*/
@keyframes button_exit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}
