* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}
/*header*/
.sticky-top {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__top {
    background: linear-gradient(90deg, rgba(241,238,33,1) 0%, rgba(255,253,43,1) 52%, rgba(223,223,15,1) 100%, rgba(222,242,45,1) 100%);
    padding: 10px;
    
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.row {
    display: flex;
    align-items: center;
}
.logo img{
    width: 70%;
}
#menu-bar {
    display: none;
}
    /* menu_1*/
.list_item {
    display: flex;
    align-items: center;
}
    
ul.list_item>li>a {
    color: black;
    font-size: 20px;
}

.menu ul li {
    margin-left: 40px;
    list-style: none;
}
.menu {
    display: flex;
    width: 80%;
}
.menu .list_item .sub:first-child > a{
    color: #0771b9;
}
.menu .list_item .sub:first-child > a::before {
    content: "";
    width: 0;
    height: 0;
    left: 36px;
    bottom: -12px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    display: block;
    border-top: 8px solid #0771b9;
    position: absolute;
}
.menu .list_item .sub:first-child:hover > a::before {
    display: none;
}
ul.list_item>li>a {
    display: block;
    text-align: center;
    position: relative;
}

ul.list_item>li>a:hover {
    color: rgb(16, 63, 172);
    transition: all 0.3s ease;
}

.sub:hover .menu_big {
    display: block !important;
}
.sub {
    position: relative;
}
.sub::after {
    content: "";
    height: 12px;
    width: 120%;
    position: absolute;
    background-color: transparent;
}
ul.menu_child {
    position: absolute;
    list-style-type: none;
    margin-top: 12px;
    border-radius: 10px;
    overflow: hidden;
}
ul.menu_child li {
    display: block;
    text-decoration: none;
    background-color: #0771b9;
    padding: 14px 14px;
    border-bottom: 1px solid #71afd5;
    width: 160%;
    margin: 0;
    position: sticky;
    z-index: 1;

}
ul.menu_child>li>a {
    color: white;
    font-size: 16px;
    margin-right: 150px;
}
ul.menu_child>li>a:hover {
    color: rgb(240, 255, 30);
}
.menu_big {
    display: none;
}
div.menu_big::after {  /*add after to hover*/
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #0771b9 transparent;
    display: block;
    bottom: -12px;
    left: 40px;
    position: absolute;
}

  /*sign_up*/
.open_banking {
    font-weight: 500;
    position: relative;
    
}
.open_banking::before {
    content:"";
    position: absolute;
    background-color: #06619e;
    top: 22px;
    left: 0;
    height: 5px;
    width: 100%;
    transform: scaleX(0);
    border-radius: 4px;
}
.open_banking:hover::before {
    transform: scaleX(1);
    transition: linear 0.5s;
}

    /*header_2*/
.head2 {
    background-image: linear-gradient(#0a5e98, #0771b9);
    
}
.head2__bottom {
    display: flex;
    align-items: center;
    color: white;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
}
.header__hotline {
    padding-left: 30px;
}
.head2__bottom .header__hotline .fa-solid {
    display: inline-block;
    width:30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    vertical-align: center;
    border: 2px solid white;
    border-radius: 50%;
}
.number_phone {
    font-size: 20px;
    font-weight: bold;
    color: gold;
}

/* menu2 */
.menu__list-item:hover .menu_child_2 {
    display: block !important;
}

.menu__list-item {
    position: relative;
}

.menu__list {
    margin: 0 32px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color: black;
    align-items: center;
}

.menu__list-item-link {
    color: white;
    border-left: 1px solid #06619e;
    display: block;
    text-decoration: none;
    padding: 12px 20px;
}

.menu__list-item-link:hover {
    color: rgb(251, 255, 27);
}

.menu__list:last-child {
    border-right: 1px solid #06619e;
}

ul.menu_child_2 {
    display: none;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

ul.menu_child_2 li {
    display: block;
    background-color: #0771b9;
    padding: 14px 14px;
    border-bottom: 1px solid #71afd5;
    width: 160%;
    margin: 0;
}

ul.menu_child_2>li>a {
    color: white;
    font-size: 16px;
    margin-right: 150px;
}

ul.menu_child_2>li>a:hover {
    color: rgb(237, 240, 58);
}
 /*header search-form*/
 #search_btn {
    cursor: pointer;
    user-select: none;
 }
 .dropbtn .search_form {
    position: absolute;
    top:115%;
    right: 10%;
    display: flex;
    width: 250px;
    height: 40px;
    background-color: #fff;
    transform: scaleY(0);
    transform-origin: top;
    user-select: none;
    z-index: 2;
}
.dropbtn .search_form.active {
    transform: scaleY(1);
}
.dropbtn .search_form input {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    color: black;
    padding: 1rem;
    text-transform: none;
    border: none;
}
.dropbtn .search_form label {
    cursor: pointer;
    font-size: 1.4rem;
    padding: 10px;
    background-color: #06619e;
}
 /*end header*/
  /*img ads module*/
.img_ads_module {
    padding-bottom: 20px;
}
.module_content {
    position: relative;
}
.module_content .main_breadcrumb .container_breadcrumb .breadcrumb{
    position: absolute;
    display: flex;
    bottom: 3px;
    left: 0;
    background: rgba(0,0,0,.2);
    padding: 10px 20px;
    width: 100%;
}
.container_breadcrumb .breadcrumb li {
    padding: 0 6px;
}
.container_breadcrumb .breadcrumb li a{
    color: white;
}
.container_breadcrumb .breadcrumb .text_bread a:hover{
    color: #06619e;
    text-decoration:underline;
    text-underline-position: above;
}
.main_breadcrumb .container_breadcrumb .breadcrumb li i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-right: 6px;
}
 /* titles */
 .request {
    margin: auto;
    padding: 40px 0;
    font-size: 50px;
    font-weight: bold;
    color: #06619e;
    text-align: center;
    border-top: 1px solid #06619e;
    padding-bottom: 28px;
}
 /*end title*/

 /*Products card banking*/
.products_card {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.card_banking {
    width: 47% !important;
    height: 620px;
    background-color: #e9ecec;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    overflow:auto;
    justify-content: center;
    text-align: center;
}
.card_banking .img_card_bank {
    width: 60%;
    margin: auto;
    padding: 18px 0;
}
.card_banking h3 {
    text-align: center;
    color: red;
    
}
.card_banking ul {
    align-items: center;
    justify-content: center;
    text-align: justify;
    list-style-type: square !important;
    padding: 20px 60px;
    padding-bottom: 50px;
    font-size: 1.1rem;
}
.card_banking ul li {
    padding: 4px 0;
}

.card_banking:hover {
    background-color: gold;
}
.card_banking:hover h3 {
    color: #06619e;
    text-decoration:underline;
    text-underline-position: above;
}
.card_banking ul li .info_of_card {
    font-weight: bold;
    color: #0771b9;
}
.slick-arrows {
    font-size: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    color: black;
    top:50%;
    transform: translateY(-50%);
    z-index: 1;
}
 /*check compare*/
 .tick_compare {
    justify-content: center;
    text-align: center;
 }
.tick_compare input {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}
.tick_compare input:checked {
    border: 6px solid black;
}
  /* promotions */
.main_promotion {
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-attachment: fixed;
}
.title_promo {
    text-align: center;
    font-size: 1.4rem;
    color: white;
    padding-top: 60px;
    padding-bottom: 30px;
}
.container_promotion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.container_promotion .col_promotion {
    height: 280px;
    width: 380px;
    margin: 0px 9px 12px;
}
.container_promotion .col_promotion img {
    height: 220px;
}
.container_promotion .col_promotion .text_promo {
    color: white;
    font-size: 1.1rem;
    padding-top: 8px;
}
 /*hover promotion*/
.container_promotion .col_promotion .img_promo{
    overflow: hidden;
}
.container_promotion .col_promotion a .img_promo img {
    transform: scale(1);
    transition: all .3s ease-in-out;
}

.container_promotion .col_promotion a:hover img {
    transform: scale(1.1);
}
.container_promotion .col_promotion a:hover .text_promo{
    color: gold;
    text-decoration: underline;
    text-decoration-style: solid;
}

/* the icons*/
.main_icon {
    align-items: center;
    justify-content: center;
    width: 100%;
}
.row_icon {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 30px 0px;
    width: 80%;
}
.container_icon {
    width: 15%;
    position: relative;
    margin: 0 auto;
}
/* Style the icon promotion */
.icons {
    border-radius: 4px;
    text-align: center;
    background-image: url(../images/bg_icon.png);
    padding: 10px;
    transition: all 0.2s ease-in-out;
}
.icons .text-of-icons {
    content: "";
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: white;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}
.icons i {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 56px;
    color: white;
    text-align: center;
    align-items: center;
}
.icons:hover {
    box-shadow: 3px 3px gold, 4px 4px #53a7ea, 5px 5px #53a7ea;
    transform: translateX(-3px);
}
.icons:hover i, .icons:hover .text-of-icons {
    color: gold;
}

/*Main service*/
.main_service {
    margin: 50px 0 100px 0;
}
.main_service h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}
.services_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.container_service {
    height: 100%;
    width: 280px;
    margin: 5px 15px;

}
.container_service .text_service_title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #06619e;
    padding: 4px 0;
}
.container_service .text_service {
    color: black;
    line-height: 1.5;
    text-align: justify;
}
 /*sign up email and install */
 .install {
    background-color: #f1f3f2; 
    padding: 4px 0;
}
.install_container {
    width: 80%;
    margin: auto;
}
.row_install {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.col25_sign_install {
    width: 25%;
    margin-top: 3px;
}
.col50_sign_install {
    width: 50%;
}
.col25_sign_install img {
    width: 40%;
}
.sign_up_email_text input {
    top: -1px;
    width: 200px;
    padding: 15px 0;
    border-radius: 6px;
    border: 1px solid #cad1d3;
}
.sign_up_button {
    border: none;
    padding: 8px 10px;
    background-color: #06619e;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.sign_up_button a {
    color: white;
}
button.sign_up_button:hover {
    box-shadow: 2px 2px #53a7ea, 3px 3px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
}

/* arrow right */
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.main_footer .row_footer .col_footer ul li i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-right: 6px;
}

        /*footer*/
.main_footer {
    width: 80%;
    margin: auto;
}
.footer_1 {
    background-color: #0771b9;
    padding-top: 50px;
}
.row_footer {
    display: flex;
    flex-wrap: wrap;
}
.col_footer {
    width: 25%;
    padding: 0 10px;
}
.col_footer h4 {
    font-size: 20px;
    color: rgb(225, 238, 49);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.col_footer h4::before {
    content:"";
    position: absolute;
    background-color: black;
    left: 1px;
    bottom: -8px;
    height: 3px;
    box-sizing: border-box;
    width: 60px; 
}
.col_footer ul li:not(:last-child) {
    margin-bottom: 10px;
}
.col_footer ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    display: block;
    transition: all 0.3s ease;
}
.col_footer ul li a:hover {
    padding-left: 8px;
}

/*footer_2*/
.footer_2 {
    margin-top: 50px;
    background: linear-gradient(90deg, rgba(241,238,33,1) 0%, rgba(255,253,43,1) 52%, rgba(223,223,15,1) 100%, rgba(222,242,45,1) 100%);
    padding: 50px 0;
}
.main_footer_2 {
    width: 80%;
    margin: auto;
}
.row_footer_2 {
    display: flex;
    flex-wrap: wrap;
}
.col25_footer_2 {
    width: 25%;
    padding: 0 10px;
}
.col50_footer_2 {
    width: 50%;
    padding: 0 10px;
    overflow: hidden;
}
.col25_footer_2 h4,.col50_footer_2 h4 {
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}
.col50_footer_2 p {
    font-size: 14px;
}
.col25_footer_2 h4::before, .col50_footer_2 h4::before {
    content:"";
    position: absolute;
    background-color: black;
    left: 1px;
    bottom: -6px;
    height: 3px;
    box-sizing: border-box;
    width: 80px; 
}
.col25_footer_2 .social_link a {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #06619e;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}
.col25_footer_2 .social_link a:hover {
    color: #06619e;
    background-color: white;
}

 /* copyright */
.copyright {
    background: linear-gradient(90deg, rgba(241,238,33,1) 0%, rgba(255,253,43,1) 52%, rgba(223,223,15,1) 100%, rgba(222,242,45,1) 100%);
    padding: 10px 0;
}
.main_copyright {
    width: 80%;
    margin: auto;
}
.row_copyright {
    border-top: 1px solid #06619e;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.col25_copyright {
    width: 25%;
    padding: 0 10px;
}
.col75_copyright {
    width: 75%;
    padding: 0 10px;
}
.row_copyright p {
    font-size: 12px;
    color: black;
}
.col25_copyright p:hover {
    text-decoration: underline;
    color: #06619e;
}
 /* end footer */
marquee {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-style: italic;
}
/*button chat*/
#chat {
    position: fixed;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    bottom: 20px;
    left: 20px;
    width: 100px;
    font-size: 20px;
    padding: 8px ;
    background-color: #06619e;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    outline: none;
}
.fa-facebook-messenger {
    margin-right: 4px;
}
 /*Back to top window*/
#back_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, .2);
    color: black;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: backround-color, color;
}
#back_to_top:hover, #back_to_top:focus {
    background-color: black;
    color: white;
}
.button_entrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: button_entrance;
}
/*fade in up*/
@keyframes button_entrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.button_exit {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: button_exit;
}
/*fade out down*/
@keyframes button_exit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}
