* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}

/*header*/
.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__top {
    background: linear-gradient(90deg, rgba(241,238,33,1) 0%, rgba(255,253,43,1) 52%, rgba(223,223,15,1) 100%, rgba(222,242,45,1) 100%);
    padding: 10px;
    padding-left: 20px;
    padding-right: 100px;
}
.container {
    margin: 0 auto;
    width: 100%;
}
.row {
    display: flex;
    align-items: center;
}
.logo {
    width: 25%;
}
#menu-bar {
    display: none;
}
    /* menu_1*/
.list_item {
    display: flex;
    align-items: center;
}
    
ul.list_item>li>a {
    color: black;
    font-size: 20px;
}

.menu ul li {
    margin-left: 40px;
    list-style: none;
}

.menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

ul.list_item>li>a {
    display: block;
    text-align: center;
    position: relative;
}

ul.list_item>li>a:hover {
    color: rgb(16, 63, 172);
    transition: all 0.3s ease;
}

.sub:hover .menu_big {
    display: block !important;
}
.sub {
    position: relative;
}
.sub::after {
    content: "";
    height: 12px;
    width: 120%;
    position: absolute;
    background-color: transparent;
}
ul.menu_child {
    position: absolute;
    list-style-type: none;
    margin-top: 12px;
    border-radius: 10px;
    overflow: hidden;
}
ul.menu_child li {
    display: block;
    text-decoration: none;
    background-color: #0771b9;
    padding: 14px 14px;
    border-bottom: 1px solid #71afd5;
    width: 160%;
    margin: 0;
    position: sticky;
    z-index: 1;

}
ul.menu_child>li>a {
    color: white;
    font-size: 16px;
    margin-right: 150px;
}
ul.menu_child>li>a:hover {
    color: rgb(240, 255, 30);
}
.menu_big {
    display: none;
}
div.menu_big::after {  /*add after to hover*/
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #0771b9 transparent;
    display: block;
    bottom: -12px;
    left: 40px;
    position: absolute;
}

  /*sign_up*/
.open_banking {
    font-weight: 500;
    position: relative;
    
}
.open_banking::before {
    content:"";
    position: absolute;
    background-color: #06619e;
    top: 22px;
    left: 0;
    height: 5px;
    width: 100%;
    transform: scaleX(0);
    border-radius: 4px;
}
.open_banking:hover::before {
    transform: scaleX(1);
    transition: linear 0.5s;
}

    /*header_2*/
.head2 {
    background-image: linear-gradient(#0a5e98, #0771b9);
    
}
.head2__bottom {
    display: flex;
    align-items: center;
    color: white;
}
.header__hotline {
    padding-left: 30px;
}
.head2__bottom .header__hotline .fa-solid {
    display: inline-block;
    width:30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    vertical-align: center;
    border: 2px solid white;
    border-radius: 50%;
}
.number_phone {
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}

/* menu2 */
.menu__list-item:hover .menu_child_2 {
    display: block !important;
}

.menu__list-item {
    position: relative;
}

.menu__list {
    margin: 0 32px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color: black;
    align-items: center;
}

.menu__list-item-link {
    color: white;
    border-left: 1px solid #06619e;
    display: block;
    text-decoration: none;
    padding: 12px 20px;
}

.menu__list-item-link:hover {
    color: rgb(251, 255, 27);
}

.menu__list:last-child {
    border-right: 1px solid #06619e;
}

ul.menu_child_2 {
    display: none;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

ul.menu_child_2 li {
    display: block;
    background-color: #0771b9;
    padding: 14px 14px;
    border-bottom: 1px solid #71afd5;
    width: 160%;
    margin: 0;
}

ul.menu_child_2>li>a {
    color: white;
    font-size: 16px;
    margin-right: 150px;
}

ul.menu_child_2>li>a:hover {
    color: rgb(237, 240, 58);
}
 /*header search-form*/
 #search_btn {
    cursor: pointer;
    user-select: none;
 }
 .dropbtn .search_form {
    position: absolute;
    top:115%;
    right: 10%;
    display: flex;
    width: 250px;
    height: 40px;
    background-color: #fff;
    transform: scaleY(0);
    transform-origin: top;
    user-select: none;
}
.dropbtn .search_form.active {
    transform: scaleY(1);
}
.dropbtn .search_form input {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    color: black;
    padding: 1rem;
    text-transform: none;
    border: none;
}
.dropbtn .search_form label {
    cursor: pointer;
    font-size: 1.4rem;
    padding: 10px;
    background-color: #06619e;
}
/*header search-form*/
#search_btn {
    cursor: pointer;
    user-select: none;
 }
 .dropbtn .search_form {
    position: absolute;
    top:115%;
    right: 10%;
    display: flex;
    width: 250px;
    height: 40px;
    background-color: #fff;
    transform: scaleY(0);
    transform-origin: top;
    user-select: none;
}
.dropbtn .search_form.active {
    transform: scaleY(1);
}
.dropbtn .search_form input {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    color: black;
    padding: 1rem;
    text-transform: none;
    border: none;
}
.dropbtn .search_form label {
    cursor: pointer;
    font-size: 1.4rem;
    padding: 10px;
    background-color: #06619e;
}

/*sign up email and install */
.install {
    background-color: #f1f3f2; 
    padding: 4px 0;
}
.install_container {
    width: 80%;
    margin: auto;
}
.row_install {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.col25_sign_install {
    width: 25%;
    margin-top: 3px;
}
.col50_sign_install {
    width: 50%;
}
.col25_sign_install img {
    width: 40%;
    
}
.sign_up_email_text input {
    width: 200px;
    padding: 8px 0;
    border-radius: 6px;
    border: 1px solid #cad1d3;
}
.sign_up_button {
    border: none;
    padding: 8px 10px;
    background-color: #06619e;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.sign_up_button a {
    color: white;
}
button.sign_up_button:hover {
    box-shadow: 2px 2px #53a7ea, 3px 3px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
}
/*sign up email and install */
.install {
    background-color: #f1f3f2; 
    padding: 4px 0;
}
.install_container {
    width: 80%;
    margin: auto;
}
.row_install {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.col25_sign_install {
    width: 25%;
    margin-top: 3px;
}
.col50_sign_install {
    width: 50%;
}
.col25_sign_install img {
    width: 40%;
    
}
.sign_up_email_text input {
    width: 200px;
    padding: 8px 0;
    border-radius: 6px;
    border: 1px solid #cad1d3;
}
.sign_up_button {
    border: none;
    padding: 8px 10px;
    background-color: #06619e;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.sign_up_button a {
    color: white;
}
button.sign_up_button:hover {
    box-shadow: 2px 2px #53a7ea, 3px 3px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
}

/* arrow right */
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.main_footer .row_footer .col_footer ul li i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-right: 6px;
}

        /*footer*/
.main_footer {
    width: 80%;
    margin: auto;
}
.footer_1 {
    background-color: #0771b9;
    padding: 50px 0;
}
.row_footer {
    display: flex;
    flex-wrap: wrap;
}
.col_footer {
    width: 25%;
    padding: 0 10px;
}
.col_footer h4 {
    font-size: 20px;
    color: rgb(225, 238, 49);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.col_footer h4::before {
    content:"";
    position: absolute;
    background-color: black;
    left: 1px;
    bottom: -8px;
    height: 3px;
    box-sizing: border-box;
    width: 60px; 
}
.col_footer ul li:not(:last-child) {
    margin-bottom: 10px;
}
.col_footer ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    display: block;
    transition: all 0.3s ease;
}
.col_footer ul li a:hover {
    padding-left: 8px;
}

/*footer_2*/
.footer_2 {
    background: linear-gradient(90deg, rgba(241,238,33,1) 0%, rgba(255,253,43,1) 52%, rgba(223,223,15,1) 100%, rgba(222,242,45,1) 100%);
    padding: 50px 0;
}
.main_footer_2 {
    width: 80%;
    margin: auto;
}
.row_footer_2 {
    display: flex;
    flex-wrap: wrap;
}
.col25_footer_2 {
    width: 25%;
    padding: 0 10px;
}
.col50_footer_2 {
    width: 50%;
    padding: 0 10px;
}
.col25_footer_2 h4,.col50_footer_2 h4 {
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}
.col50_footer_2 p {
    font-size: 14px;
}
.col25_footer_2 h4::before, .col50_footer_2 h4::before {
    content:"";
    position: absolute;
    background-color: black;
    left: 1px;
    bottom: -6px;
    height: 3px;
    box-sizing: border-box;
    width: 80px; 
}
.col25_footer_2 .social_link a {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #06619e;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}
.col25_footer_2 .social_link a:hover {
    color: #06619e;
    background-color: white;
}

 /* copyright */
.copyright {
    background: linear-gradient(90deg, rgba(241,238,33,1) 0%, rgba(255,253,43,1) 52%, rgba(223,223,15,1) 100%, rgba(222,242,45,1) 100%);
    padding: 10px 0;
}
.main_copyright {
    width: 80%;
    margin: auto;
}
.row_copyright {
    border-top: 1px solid #06619e;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.col25_copyright {
    width: 25%;
    padding: 0 10px;
}
.col75_copyright {
    width: 75%;
    padding: 0 10px;
}
.row_copyright p {
    font-size: 12px;
    color: black;
}
.col25_copyright p:hover {
    text-decoration: underline;
    color: #06619e;
}
marquee {
    margin-top: 500px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-style: italic;
}