* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

.wrap {
    padding: 10px;
}

.header {
    width: 100%;
    border-bottom: 5px solid lightskyblue;
}

.img-logo {
    width: 30%;
    margin-left: 13%;
}

.img-logo>img {
    width: 100%;
}

.content {
    width: 100%;
    border-bottom: 5px solid gainsboro;
}

.list_item {
    width: 10%;
    margin-left: 13%;
}

.list_item>ul>li {
    border-bottom: 2px solid gainsboro;
    width: 100%;
    list-style: none;
    padding: 10px;
}

.list_item>ul>li>a {
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-weight: bold;
    padding: 5px;
}

.list_item>ul>li>a:hover {
    color: rgb(86, 72, 241);
}

.login_frame {
    margin-left: 80px;
    width: 50%;
}

.login_title {
    color: #064097;
}

.user_zone {
    background-image: url(../images/user_zone_bg.png);
    background-color: gainsboro;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 15%;
    width: 100%;
}

.user_input {
    margin-top: 10px;
    width: 100%;
}

.user_area {
    width: 50%;
    border-right: 2px solid gray;
    margin-left: 20px;
}

.user_area_text {
    color: rgb(39, 39, 39);
}

.user_area>ul>li {
    list-style: none;
}

.insert_keyboard {
    position: relative;
}

.insert_keyboard>img {
    position: absolute;
    margin-right: 10px;
}

.user_warning {
    width: 50%;
    margin-left: 20px;
}