@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.flex {
    display: flex;
}

.wrap {
    padding: 25px;
}

@keyframes animate-backgroud {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.header {
    width: 100%;
}

.animated_background {
    background: linear-gradient(to right, #96ff03,
            #fdfd1d, #fcb045);
    background-size: 400% 400%;
    animation: animate-backgroud 5s infinite ease-in-out;
}

.header_img {
    width: 30%;
    margin-left: 13%;
}

.selection_header {
    background-image: linear-gradient(#0771b9, rgb(65, 201, 246));
    background-size: cover;
    color: white;
    padding: 5px;
}

.selection_header_text {
    padding-left: 13%;
    margin-right: 50px;
    cursor: default;
}

.selection_phone_icon {
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 5px;
}

.selection_number_phone {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px #fdfd1d;
}

.selection_number_phone::before {
    content: attr(data-fill-text);
    position: absolute;
    width: 100%;
    height: 100%;
    color: red;
    -webkit-text-stroke: 0px transparent;
}

.selection_header_menu {
    list-style: none;
    border-right: 2px solid #0771b9;
    padding: 5px 20px;
    position: relative;
}

.selection_header_menu:first-child {
    border-left: 2px solid #0771b9;
}

.selection_header_menu_btn {
    color: #fff;
    transition: color 1s;
    font-weight: bold;
}

.selection_header_menu::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    background: #fdfd1d;
    transition: width 0.3s;
}

.selection_header_menu:hover .selection_header_menu_btn {
    color: #fdfd1d;
}

.selection_header_menu:hover::after {
    width: 50%;
}

.content {
    width: 100%;
    background-image: url("../images/backgound_content.jpg");
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: -5;
}

.content_menu_frame {
    width: 12%;
    margin-left: 13%;
}

.border {
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(#0771b9, rgb(65, 201, 246));
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 5px;
    justify-content: center;
}

.content_menu_btn {
    padding: 15px 25px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    z-index: 5;
}

.border::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fdfd1d;
    left: -100%;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    transform: skewX(45deg);
}

.border:hover::before {
    left: 0;
}

.content_menu_btn span {
    z-index: 0;
}

.border:hover span {
    color: #0771b9;
    transition: all 0.1s ease-in-out;
}

.main_content {
    width: 60%;
}

.login_frame {
    margin-left: 80px;
    width: 100%;
}

.login_title {
    justify-content: center;
    padding: 0px 0px 10px 0px;
    background-image: linear-gradient(#b50c0ca9, rgba(253, 3, 3, 0.915));
    background-size: cover;
    -webkit-background-clip: text;
    cursor: default;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.login_title h1 {
    font-size: 50px;
    line-height: 30px;
    color: transparent;
    -webkit-text-stroke: 1px #fdfd1d;
    background-image: url(../images/back.png);
    background-size: 100%;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.user_zone {
    background-image: url(../images/bg_yel.jpg);
    background-color: gainsboro;
    border-radius: 10px;
}

.user_area {
    width: 45%;
    border-right: 2px solid gray;
    justify-content: center;
    background-image: url(../images/control.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 210px;
}

.dn_btn {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    margin-top: 68px;
    margin-left: 2px;
    cursor: pointer;
}

.user_warning {
    width: 45%;
    bottom: 0px;
    right: 0px;
    padding-left: 60px;
}

.text {
    font-weight: 350;
    font-size: 30px;
    color: #0771b9;
    cursor: default;
}

.href_text {
    color: darkred;
    font-size: 15px;
    font-weight: 350;
}

.add_document_btn {
    display: block;
    border: none;
    outline: none;
    background: transparent;
    margin: 5px 0px;
    cursor: pointer;
}

.add_document_btn span {
    color: darkred;
    font-size: 20px;
    font-weight: 350;
}

.add_document_btn:last-child span {
    font-size: 15px;
    font-weight: 350;
}

.slide {
    margin-left: 150px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.slick-arrows {
    position: absolute;
    width: 40px;
    height: 50px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slick-arrows:hover {
    background: rgba(255, 255, 255, 0.6);
    color: #000;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.main_footer {
    width: 80%;
    margin: auto;
}

.footer_1 {
    background-color: #0771b9;
    padding-top: 50px;
}

.row_footer {
    display: flex;
    flex-wrap: wrap;
}

.col_footer {
    width: 25%;
    padding: 0 10px;
}

.col_footer h4 {
    font-size: 20px;
    color: rgb(225, 238, 49);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.col_footer h4::before {
    content: "";
    position: absolute;
    background-color: black;
    left: 1px;
    bottom: -8px;
    height: 3px;
    box-sizing: border-box;
    width: 60px;
}

.col_footer ul li:not(:last-child) {
    margin-bottom: 10px;
}

.col_footer ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    display: block;
    transition: all 0.3s ease;
}

.col_footer ul li a:hover {
    padding-left: 8px;
}

.footer_2 {
    margin-top: 50px;
    background: linear-gradient(90deg, rgba(241, 238, 33, 1) 0%, rgba(255, 253, 43, 1) 52%, rgba(223, 223, 15, 1) 100%, rgba(222, 242, 45, 1) 100%);
    padding: 50px 0;
}

.main_footer_2 {
    width: 80%;
    margin: auto;
}

.row_footer_2 {
    display: flex;
    flex-wrap: wrap;
}

.col25_footer_2 {
    width: 25%;
    padding: 0 10px;
}

.col50_footer_2 {
    width: 50%;
    padding: 0 10px;
}

.col25_footer_2 h4,
.col50_footer_2 h4 {
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}

.col50_footer_2 p {
    font-size: 14px;
}

.col25_footer_2 h4::before,
.col50_footer_2 h4::before {
    content: "";
    position: absolute;
    background-color: black;
    left: 1px;
    bottom: -6px;
    height: 3px;
    box-sizing: border-box;
    width: 80px;
}

.col25_footer_2 .social_link a {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #06619e;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}

.col25_footer_2 .social_link a:hover {
    color: #06619e;
    background-color: white;
}

.copyright {
    background: linear-gradient(90deg, rgba(241, 238, 33, 1) 0%, rgba(255, 253, 43, 1) 52%, rgba(223, 223, 15, 1) 100%, rgba(222, 242, 45, 1) 100%);
    padding: 10px 0;
}

.main_copyright {
    width: 80%;
    margin: auto;
}

.row_copyright {
    border-top: 1px solid #06619e;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.col25_copyright {
    width: 25%;
    padding: 0 10px;
}

.col75_copyright {
    width: 75%;
    padding: 0 10px;
}

.row_copyright p {
    font-size: 12px;
    color: black;
}

.col25_copyright p:hover {
    text-decoration: underline;
    color: #06619e;
}

marquee {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-style: italic;
}

#chat {
    position: fixed;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    bottom: 20px;
    left: 20px;
    width: 100px;
    font-size: 20px;
    padding: 8px;
    background-color: #06619e;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    outline: none;
}

.fa-facebook-messenger {
    margin-right: 4px;
}

#back_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, .2);
    color: black;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: backround-color, color;
}

#back_to_top:hover,
#back_to_top:focus {
    background-color: black;
    color: white;
}

.button_entrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: button_entrance;
}

@keyframes button_entrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.button_exit {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: button_exit;
}

@keyframes button_exit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

.dn_btn_modal {
    height: 100%;
    width: 100%;
    z-index: 10;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    display: none;
    opacity: 0.9;
}

.dn_btn_content {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.dn_btn_content_box {
    width: 240px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle_btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#bg_btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background: linear-gradient(to right, #fd105d, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.social_icons {
    margin: 30px auto;
    text-align: center;
}

.social_icons img {
    width: 30px !important;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input_group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input_field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 1px solid #999;
    border-right: 0;
    outline: none;
    background: transparent;
}

.submit_btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #fd105d, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.chech_box {
    margin: 30px 10px 30px 0;
}

.input_group span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}