/*logo slide*/
@media screen and (max-width: 500px) {
    .logo_header {
        font-size: 2.5rem;
    }
}
/*repondive menu header mobile*/
@media screen and (max-width: 1212px) {
    .menu__list {
        display: none;
    }
    .toggle_btn {
        display: flex;
        color: #06619e;
    }
    .list_item li a i:first-child {
        display: none;
    }
    .list_item {
        position: absolute;
        top: 100%;
        left: 0;
        background: linear-gradient(90deg, rgba(6,97,158,1) 38%, rgba(64,154,212,1) 96%, rgba(83,167,221,1) 100%);
        width: 300px;
        height: calc(110vh - 9.5rem);
        display: block;
        overflow-y: scroll;
        padding: 20px 0;
        margin-left: -18px;
        font-weight: bold;
    }
    .list_item.active {
        width: 0;
    }
    .list_item li a {
        color: #fff !important ;
        padding-bottom: 20px;
    }
    .menu .list_item .sub:first-child > a::before {
        display: none;
    }
    .menu_big .menu_child{
        display: none;
    }
    .menu_big .menu_child{
        position: relative;
    }
    .header__hotline .sup_center {
        display: none;
    }
    .fa-angle-down,.fa-angle-up {
        display: block;
        margin-right: 10px;
        font-size: 1rem;
    }
    .menu .list_item li:nth-child(1),
    .menu .list_item li:nth-child(6),
    .menu .list_item li:nth-child(7),
    .menu .list_item li:nth-child(8),
    .menu .list_item li:nth-child(9),
    .menu .list_item li:nth-child(10),
    .menu .list_item li:nth-child(12){
        display: block ;
        font-weight: bold;
    }
    .menu .list_item li:nth-child(6) a i,
    .menu .list_item li:nth-child(7) a i{
        display: block;
    }
    .menu .list_item li:nth-child(11){
        text-align: center;
        background-color: gold;
        width: 200px;
        align-items: center;
        margin: auto;
        border-radius: 8px;
    }
    .menu .list_item li:nth-child(11) a{
        color: #06619e !important;
        padding-top: 10px;
        font-weight: bolder;
    }
    .open_banking {
        position: relative;
        background: linear-gradient(90deg, rgba(244,216,55,1) 0%, rgba(247,233,118,1) 70%, rgba(230,225,196,1) 100%, rgba(83,167,221,1) 100%);
        padding: 3px;
        border: 6px solid transparent;
        border-image: linear-gradient(45deg, #f7a176, #f776f4);
        border-image-slice: 1;
    }
    .open_banking::before {
        display: none;
    }
    .menu .list_item li:nth-child(12){
        color: #fff;
        font-size: 2.2rem;
        margin-left: 100px;
}
    .menu .list_item li:nth-child(12) i{
        padding: 8px 2px;
    }
    .menu .list_item li:last-child {
        padding-bottom: 200px;
        
    }
    .sub input {
        height: 43px;
        width: 70%;
        margin-right: -3px;
        margin-bottom: 16px;
    }
    .sub label {
        color: #fff;
    }
}

@media screen and (max-width: 700px) {
    .slide_show img {
        height: 250px;
    }

    .slick-dots {
        bottom: -20px;
    }

    .slick-dots button {
        width: 10px;
        height: 10px;
        margin: 3px;
        ;
    }
}

@media screen and (max-width: 500px) {
    .slide_show img {
        height: 200px;
    }

    .slick-dots button {
        width: 10px;
        height: 10px;
        margin: 3px;
    }
}
@media screen and (max-width: 300px) {
    .slide_show img {
        height: 150px;
    }
}

@media screen and (max-width: 676px) {
    .help_container {
        justify-content: center;
    }

    .search_support {
        width: 100%;
        margin: auto;
    }

    .search_support i {
        display: none;
    }

    .search_support input {
        width: 80%;
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .search_support input {
        left: 0;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
}
@media screen and (max-width: 350px) {
    .search_support input {
        font-size: 14px;
    }
}
@media screen and (max-width: 200px) {
    .search_support input {
        font-size: 11px;
    }
}
/* Responsive columns cards*/

@media screen and (max-width: 1167px) {
    .main_card {
        width: 90%;
    }

    .border_card {
        width: 30%;
        padding-bottom: 26px;
        text-align: center;
        margin: 0 auto;
    }

    .cards .text-of-cards {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 590px) {
    .main_card {
        width: 90%;
    }

    .border_card {
        width: 48%;
        padding-bottom: 26px;
        text-align: center;
        margin: 0 auto;
    }
    .cards i {
        font-size: 60px;
        margin-bottom: 45px;
    }
}
@media screen and (max-width: 338px) {
    .main_card {
        width: 100%;
    }

    .border_card {
        width: 90%;
        padding-bottom: 26px;
        text-align: center;
        margin: 0 auto;
    }
}

/* list img */
@keyframes right {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}
@media screen and (max-width: 1150px) {
    .text-new {
        display: block;
    }
}
@media screen and (max-width: 867px) {
    .img_container {
        animation: left 1.5s ease-in;
        animation-delay: 1s;
    }

    .img_container:nth-child(2),
    .img_container:nth-child(4) {
        animation: right 1.5s ease-in;
        animation-delay: 1s;
    }
}

 /*introduce product*/
@media screen and (max-width: 1036px){
    .intro_product {
        display: block;
    }
    .intro_product_70 {
        width: 100%;
        margin: auto;
    }
    .intro_product_30 {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .intro_product_30 .intro_pro_content {
        width: 45%;
    }
    .intro_pro_content .intro_module {
        background-color: #fff;
    }
}
@media screen and (max-width: 468px){
    .intro_product_30 {
        display: block;
        width: 100%;
        justify-content: center;
    }
    .intro_product_30 .intro_pro_content {
        width: 90%;
        margin: 20px auto;
    }
}
/*reponsive news*/
@media screen and (max-width:680px) {
    .img_news {
        width: 260px;
        margin: 10px;
    }

}

@media screen and (max-width:560px) {
    .img_news {
        width: 90%;
        height: 100%;
    }
}

@media screen and (max-width:300px) {
    .img_news {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }
}

/*Reponsive signup email and install */
@media screen and (max-width: 1340px) {
    .install_container {
        text-align: center;
    }

    .col25_sign_install {
        width: 100%;
        padding-bottom: 10px;
    }

    .col50_sign_install {
        width: 100%;
        padding-bottom: 10px;
    }

    .col25_sign_install img {
        width: 20%;
    }

    .sign_up_email_text input {
        width: 200px;
    }
}
@media screen and (max-width: 850px) {
    .col25_sign_install .install_banking img{
        width: 150px;
    }
}
@media screen and (max-width: 289px) {
    .sign_up_email_text input {
        width: 80%;
    }
    .col25_sign_install .install_banking img{
        width: 70%;
    }
}
/* Responsive footer_1*/
@media screen and (max-width: 1000px) {
    .col_footer {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .col_footer {
        width: 100%;
    }
}

/* Responsive footer_2*/
@media screen and (max-width: 1000px) {

    .col25_footer_2 {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .col50_footer_2 {
        width: 100%;
    }
}

/* Responsive copyright*/
@media screen and (max-width: 1000px) {
    .col25_copyright {
        width: 100%;
    }

    .col75_copyright {
        width: 100%;
    }
}

@keyframes left {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* reponsive page card */
/*Products card*/
@media screen and (max-width: 1503px) {
    .card_banking {
        width: 46% !important;
    }
}

@media screen and (max-width: 1135px) {
    .card_banking {
        width: 45% !important;
    }
}

@media screen and (max-width: 952px) {
    .card_banking {
        width: 93% !important;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 425px) {
    .card_banking {
        width: 85% !important;
    }

}
/*img promo*/
@media screen and (max-width: 800px) {
    .col_promotion {
        width: 80% !important;
        height: 350px !important;
    }
    .col_promotion a .img_promo img {
        height: 300px;
    }
}
@media screen and (max-width: 455px) {
    .container_breadcrumb {
        display: none;
    }
    .col_promotion {
        width: 90% !important;
        height: 260px !important;
    }
    .col_promotion a .img_promo img {
        height: 200px;
    }
}
/*icons promotion*/
@media screen and (max-width: 1192px) {
    .main_icon {
        width: 100%;
    }

    .row_icon {
        width: 75%;
        padding-bottom: 26px;
        text-align: center;
        margin: auto;
    }

    .icons .text-of-icons {
        padding-bottom: 10px;
    }

    .container_icon {
        width: 28%;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 796px) {
    .main_icon {
        width: 100%;
    }

    .row_icon {
        width: 80%;
        padding-bottom: 26px;
        text-align: center;
        margin: auto;
    }

    .container_icon {
        width: 40%;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 450px) {
    .main_icon {
        width: 100%;
    }

    .row_icon {
        width: 100%;
        padding-bottom: 26px;
        text-align: center;
        margin: auto;
    }

    .container_icon {
        width: 60%;
        padding-bottom: 20px;
    }
}

/* main service */
@media screen and (max-width: 1240px) {
    .container_service {
        height: 100%;
        width: 250px;
    }
}

@media screen and (max-width: 625px) {
    .container_service {
        width: 90%;
        margin: 16px 0;
    }
}
