@media screen and (max-width: 1000px){
    .col_footer {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 600px){
    .col_footer {
        width: 100%;
    }
}
/* Responsive footer_2*/
@media screen and (max-width: 1000px){

    .col25_footer_2 {
        width: 80%;
    }
}
@media screen and (max-width: 600px){
    .col50_footer_2 {
        width: 100%;
    }
}